body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
    background-image: url("images/photogateau.jpeg");
  background-repeat: "no-repeat";
  color: white; 

}

header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("images/photogateau.jpeg");

}

.navbar {
  overflow: hidden;
  background-color: #5F9EA0;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}


.main {
  margin-top: 30px;
  text-align:center;
} 
.titre{
    font-size: 20px;
    color: #f2f2f2;
    font-style: italic;
    font-weight: 800
}

 /* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
} 
